footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 26px 0;
    margin: 20px auto;
    border-top: 3px solid white;

    p {
        text-transform: uppercase;
        font-family: "Outfit", sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        color: white;
        letter-spacing: -1px;
        padding: 10px;
    }
    }

    .footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    img {
        width: 1.25rem;
        height: auto;
        display: block;
        margin: 10px auto;
    }

    }


    .footer__terminos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.25rem;

    li {
        list-style: none;
        margin: 10px auto;
    }

    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: "Outfit", sans-serif;
        font-weight: 900;
        font-size: 1.125rem;
        letter-spacing: -1px;
        text-decoration: none;
        &:hover {
        color: blue;
        }
    }
}

@media (max-width: 970px){
    .footer__terminos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}