@use "../utilities/variables" as *;

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
    padding: 26px 0;

    &__logo {
        img {
        max-width: 86px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        li {
        list-style: none;
        }

        a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: "Outfit", sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
        letter-spacing: -0.0625rem;

        &:hover {
            color: blue;
        }
        }
    }

    &__icons {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding-right: 1.875rem;

        img {
        width: 1.25rem;
        }
    }
}
