
.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 112px 0;
    max-width: 960px;
    
        &__title {
        font-family: "Outfit", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        font-size: 3.75rem;
        text-align: center;
        margin-bottom: 20px;
        }

    &__text {
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: white;
        text-align: center;
        margin-bottom: 60px;

        a {
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: white;
        text-align: center;
        margin: 20px auto;
        text-decoration: underline;
        }
    }

    /* Acordeón */
    &__acordion {
        margin: 20px auto;
        text-align: left;

        details {
        padding: 10px;

            summary {
                font-family: "Outfit", sans-serif;
                font-weight: 700;
                font-size: 1.125rem;
                letter-spacing: -1px;
                color: white;
                padding-bottom: 5px;
                position: relative;
                cursor: pointer;
                padding-left: 20px; // espacio para la flecha

                /* Quitar marcador por defecto */
                &::-webkit-details-marker {
                display: none;
                }
                &::marker {
                content: "";
                }

                /* Flecha personalizada */
                &::before {
                content: "›"; // símbolo flecha
                position: absolute;
                left: 0;
                font-size: 1.2rem;
                transition: transform 0.3s ease;
                }
            }

            /* Rotar flecha cuando está abierto */
            &[open] summary::before {
                transform: rotate(90deg); // de ">" a "v"
            }

            p {
                font-family: "Outfit", sans-serif;
                font-weight: 400;
                font-size: 1rem;
                color: white;
                padding: 5px;
                margin-top: 10px;
            }
        }
    }
}
