/* CONTENEDOR DE TODAS LAS CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en desktop */
    gap: 20px;
    padding: 20px;
    

    /* breakpoint para tablets: 2x2 */
    @media (max-width: 1445px) {
        grid-template-columns: repeat(2, 1fr);
    }

    /* breakpoint para mobile: 1 abajo de otra */
    @media (max-width: 740px) {
        grid-template-columns: 1fr;
    }
    }

.productos__titulo{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    letter-spacing: -1px;
    margin-top: 60px;

    @media (max-width: 550px){
        font-size: 3.4375rem;
    }
}

    /* ESTILO DE LA CARD */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

    &__img {
        display: block;
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: contain; /* mantiene proporción sin deformar */
        margin: 0 auto;
    }

    &__title {
        text-transform: uppercase;
        font-family: "Outfit", sans-serif;
        font-weight: 900;
        font-size: 2.25rem;
        letter-spacing: -1px;
        color: white;
    }

    &__button {
        background-color: blue;
        padding: 10px 20px;
        border-radius: 20px;
        color: white;
        font-family: "Outfit", sans-serif;
        font-weight: 900;
        font-size: 1rem;
        letter-spacing: -1px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
    }
}

@media (max-width: 375px){
    .card__title{
        font-size: 1.75rem;
    }
}
